@font-face {
    font-family: Samsung Sharp Sans;
    src: url(fonts/samsungsharpsans.otf);
}
@font-face {
    font-family: Samsung Sharp Sans-Bold;
    src: url(fonts/samsungsharpsans-bold.otf);
}
@font-face {
    font-family: Samsung Sharp Sans-Medium;
    src: url(fonts/samsungsharpsans-medium.otf);
}
/* start of nav bar */
header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #EBF5FF;
}
.navbar-brand{
    max-width: 50%;
}
.navbar-brand img{
    max-width:100%;
    max-height: min-content;
}
.navbar-nav li{
    padding: 0 10px;
    min-width: fit-content;
    font-family: Samsung Sharp Sans;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.navbar-toggler{
    outline: none !important;
}
header #contact{
    background: #FF7139;
    box-shadow: 0px 13px 36px #f18b624d;
    border-radius: 5px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: transparent;
}
header #contact span{
font-family: Samsung Sharp Sans;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 26px;

text-align: center;

color: #FFFFFF;
}

/* end of nav bar */

/* start of main */
#intro{
    background-color: #5800E7;
    background-image: url(../assets/cookie/contours.png);
    margin-bottom: 8%;
}
#intro h2{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    padding-top: 7%;
    padding-bottom: 2%;
}
#intro p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 7%;
}

/* end of intro */

/* start of landing page */

#landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}
#alphaT{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #2B59FF;
    padding-bottom: 3%;
}
.landingTitle{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.landingTitle > div{
    width: 90%;
    margin: 3%;
}
.landingTitle h1{
    color: #213053;
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 45px;
    letter-spacing: 1px;
}
.landingTitle p{
    color: #213053;
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    opacity: 0.8;
}
#callButton{
    height: 30%;
    width: 100%;
    background: #FD4C5C;
    border-radius: 5px;
    border-color: transparent;
}
#callButtonText{
    color: var(--white);
    font-family: var(--font-family-samsung-sans-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    left: 50px;
    letter-spacing: 0;
    line-height: 30px;
    top: 38px;
    white-space: nowrap;
}
#callButton img{
    margin:3%;
    padding-bottom: 1%;
}
.landingImage{
    display: none;
}

/* end of landing section */

/* genesis of positions secion */
#positions{
    max-width: 95%;
    margin: auto;
}
#positions h1{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 32px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: #000B33;
    padding-bottom: 1%;
    text-align: center;
}
#positionsSpeech{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000B33;
    opacity: 0.7;
    max-width: 95%;
    padding-left: 2%;
}
#positions ul{
    /* background-color: #f9fcff; */
    list-style: none;
    padding-bottom: 10%;
    padding-left: 2% !important;
}
#positions ul li{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 10px;
    margin: 5% 0%;
}
#positions ul li :hover{
    box-shadow: 0 4px 8px 0 #EBF5FF, 0 6px 20px 0 #EBF5FF;
}
#positions ul li h3{
    font-family: Samsung Sharp Sans-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000B33;
    padding-top: 4%;
}
#positions ul li p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #000B33;
    opacity: 0.5;
}
#arrow{
    width: 5%;
    height: 4%;
    position: relative;
    left: 90%;
    padding-bottom: 5%;
}
/* end of positions section */


/* get started sub section */
.getStarted{
    background: #EBF5FF;
    padding: 8% 1% 8% 3%;
}
#getStartedHeading{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #1D263A;
}
#getStartedIntro{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 32px;
    color: #213053;
    opacity: 0.7;
    padding-top: 3%;
    padding-left: 2%;
}
#getStartedLink{
    margin-top: 5%;
    padding-left: 10%;
}
#getStartedLink button{
    padding: 3% 12%;
    background: white;
    text-transform: uppercase;
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 10px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    color: #1D263A;
    border-color: transparent;
    margin: auto;
}

/* footer section */
footer{
    margin-top: 5%;
}
#footerFlex{
    display: flex;
    flex-direction: column;
}
#footerFlex > div{
    margin-bottom: 3%;
}
#footerLogo{
    width: 100%;
    height: 71.44px;
}
#testingRelation li{
    list-style: none;
    display: inline-block;
}
#footerList , #footerText , #socialList{
    list-style: none;
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    text-align: right;
    color: #1D263A;
    text-decoration: none;
}
#socialList li{
    list-style: none;
    display: inline-block;
    margin: 0 3%;
    font-family: Samsung Sharp Sans-Bold;
}
#socialList li a , #footerList li a{
    text-decoration: none;
    color: inherit;
}