@font-face {
    font-family: Samsung Sharp Sans;
    src: url(fonts/samsungsharpsans.otf);
}
@font-face {
    font-family: Samsung Sharp Sans-Bold;
    src: url(fonts/samsungsharpsans-bold.otf);
}
@font-face {
    font-family: Samsung Sharp Sans-Medium;
    src: url(fonts/samsungsharpsans-medium.otf);
}

/* start of nav bar */
header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #EBF5FF;
}
nav{
    margin-left: 100px;
    margin-right: 100px;
}
.navbar-brand img{
    max-width:50%;
    max-height: min-content;
}
.navbar-nav li{
    padding: 0 10px;
    min-width: fit-content;
    font-family: Samsung Sharp Sans;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
.navbar-toggler{
    outline: none !important;
}
header #contact{
    background: #FF7139;
    box-shadow: 0px 13px 36px #f18b624d;
    border-radius: 5px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: transparent;
}
header #contact span{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;

    text-align: center;

    color: #FFFFFF;
}
.verticalCenter{
    margin-top: 8px;
}

/* end of nav bar */

#landingPage{
    background: #EBF5FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3.5% 10%;
}
.landingTitle{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    max-width: 50%;
}
.landingTitle > div{
    width: 80%;
    margin: 3%;
}
.landingTitle h1{
    color: #213053;
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1px;
}
.landingTitle p{
    color: #213053;
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;
    max-width: 87%;
    word-spacing: 2%;
}
#callButton{
    height: 95px;
    width: 270px;
    background: #FF7139;
    border-radius: 5px;
    border-color: transparent;
}
#callButtonText{
    color: var(--white);
    font-family: var(--font-family-samsung-sans-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    left: 50px;
    letter-spacing: 0;
    line-height: 30px;
    top: 38px;
    white-space: nowrap;
}
#callButton img{
    margin:3%;
    padding-bottom: 2%;

}
.landingImage > img{
    max-width: 110%;
}

/* end of landing section */

#whoWeAre{
    padding: 40px 0;
    width: 85%;
    margin: auto;
    color: var(--ebony-clay);
}
#sectionTitle{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 42px;
    line-height: 66px;
    text-align: center;
    letter-spacing: -1px;
    color: #1D263A;
    padding: 40px 0;
}
#whoWeAre .sectionImage{
    width: 100%;
    height: 80%;
    padding: 40px 0;
    margin: auto;
    border-radius: 5px;
}
#speech{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;text-align: center;
    color: #1D263A;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 5%;
}
.identity{
    display: flex;
    flex-direction: row;
    margin-top: 9%;
    padding-bottom: 4%;
}
.identity > div{
    margin: 20px;
}
.identity h2{
    font-family: Samsung Sharp Sans-Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.3px;
    color: #213053;
    padding-bottom: 6%;
}
.identity p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #213053;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: justify;
}
.identity img{
    max-height: 30%;
    max-width: 30%;
    padding-bottom: 6%;
}

/* end of who we are section */

#services{
    /* background: #5D5FEF; */
    padding: 7% 0%;
    /* background-image: url('assets/images/blockchain_platform-1.jpg'); */
}
#services img{
    width: 100%;
    height: 100%;
}
#services h1{
    font-family: Samsung Sharp Sans-bold;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    /* color: #FFFFFF; */
    padding-top: 17%;
    padding-bottom: 5%;
}
#serviceSpeech{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    /* color: #FFFFFF; */
    opacity: 0.8;
}
.interchange{
    text-align: center;
    max-width: 85%;
    margin: auto;
    margin-top: 12%;
    padding-bottom: 10%;
}
.interchange h1{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000B33;
    padding-bottom: 5%;
}
.interchange p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #000B33;
    opacity: 0.8;
}
#listHolder{
    background: #f9fcff;
    max-width: 82%;
    margin: auto;
    border-radius: 5px;
}
.serviceList{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.serviceList > div{
    max-width: 30%;
    max-height: 30%;
    background-color: white;
    border-radius: 6px;
    margin: 1%;
    padding: 3%;
    text-align: center;
}
.serviceList > div img{
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 11%;
}
.serviceList > div h3{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000B33;
    margin-bottom: 9%;
}
.serviceList > div p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000B33;
    opacity: 0.7;
}

/* end of services section */

#partners{
    max-width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}
#partners h1{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 66px;text-align: center;
    letter-spacing: -1px;
    color: #1D263A;
    margin-bottom: 5%;
}
#partners p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #213053;
    opacity: 0.7;
}
#partners ul li{
    display: inline-block;
    list-style: none;
    margin: 3%;
    max-height: 10%;
    max-width: 30%;
}

/* end of partners section */

#team{
    margin-top: 5%;
    background: #f9fcff;
    padding: 5% 0%;
}
#team h1{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    letter-spacing: -1px;
    color: #1D263A;
    padding-bottom: 5%;
}
#team p{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #213053;
    opacity: 0.7;
    padding-bottom: 5%;
    max-width: 60%;
    margin: auto;
}
#gallary{
    margin: auto;
}
#employee{
    margin: 15px;
    background: white;
    padding: 1.5% 0px 1.5% 2%;
    max-width: 20%;
}
#name{
    font-family: Samsung Sharp Sans-Medium;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: #000B33;
    margin: 3% 0%;
}
#role{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    color: #000B33;
    opacity: 0.7;
}
#employee img{
    max-width: 80%;
    max-height: 90%;
}

/* end of team secion */


/* contact us section */

#contactUs{
    background: #1D263A;
    min-height: max-content;
    padding: 8% 3%;
}
#introText{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 38px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}
#followUp{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-size: 28px;
    line-height: 58px;
    align-items: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}
#emailLink{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 10%;
    align-items: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}
form{
    background: white;
    width: 498px;
    padding: 6%;
    border-radius: 7px;
}
label{
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;color: #1D263A;
    margin: 5% 3%;
}
input, textarea{
    width: 408px;
    background: #E1ECF0;
    border-radius: 5px;
    border-color: transparent;
    padding: 3% 5%;
    font-family: Samsung Sharp Sans;
    margin: 2% 3%;
}
form button{
    background: #FF7139;
    color: white;
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 5% 35%;
    margin-top: 5%;
}

/* end of contact us section */

/* get started sub section */
.getStarted{
    background: #EBF5FF;
    padding: 8% 1% 8% 3%;
}
#getStartedHeading{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #1D263A;
}
#getStartedIntro{
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 32px;
    color: #213053;
    opacity: 0.7;
    padding-top: 3%;
    padding-left: 2%;
}
#getStartedLink{
    margin-top: 5%;
    padding-left: 10%;
}
#getStartedLink button{
    padding: 3% 12%;
    background: white;
    text-transform: uppercase;
    font-family: Samsung Sharp Sans-Bold;
    font-style: normal;
    font-size: 10px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    color: #1D263A;
    border-color: transparent;
    margin: auto;
}

/* footer section */
footer{
    margin-top: 5%;
}
#footerFlex{
    display: flex;
}
#footerLogo{
    width: 71.46px;
    height: 71.44px;
}
.omega{
    margin-left: 8%;
    margin-top: 8%;
}
#footerList , #footerText , #socialList{
    list-style: none;
    font-family: Samsung Sharp Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    color: #1D263A;
    text-decoration: none;
}
#footerList li{
    margin-bottom:6%;
}
#socialList li{
    list-style: none;
    display: inline-block;
    margin: 0 3%;
    font-family: Samsung Sharp Sans-Bold;
}
#socialList li a , #footerList li a{
    text-decoration: none;
    color: inherit;
}
.bottomFooter{
    margin-top: 6%;
    padding-left: 3%;
    padding-bottom: 7%;
}